*{
  color: 	#4a4e81;

}

a{
  color: 	#ef4f91 ;
}

a:hover{
  color:blue;
}

.center{
  position: fixed;
width: 800px;
margin-top: -.5em; /* Negative half of height. */
right:15%;

  /*position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  display:grid;
  height:50%;
  grid-template-columns:.8fr 2fr .8fr;*/
}
.icon-grid{
  display: grid;
  width: 725px;
  margin: 0 auto;
  grid-template-columns:repeat(3, 1fr);
  grid-auto-rows: minmax(3em, auto);
  grid-template-areas:;


}

.icon{
  width:3em;
  position: relative;

}

#icon1{
top: 230px;

}

#icon2{
top:450px;

}

#icon3{
  top:525px;

}

#returntitle{
  background: blue;
}
